# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Output files
cast_metadata.json

# IDE / editors
.idea/
.vscode/
*.swp

# Jupyter Notebook
.DS_Store
.ipynb_checkpoints/